[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = CH
ST = Shanghai
L = Shanghai
O = HomeServer CA
OU = HomeServer CA
CN = *.mb3admin.com

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.mb3admin.com
DNS.2 = mb3admin.com
